[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "AuxSurvey"]
	path = AuxSurvey
	url = https://github.com/zjg540066169/auxsurvey
[submodule "BMIselect"]
	path = BMIselect
	url = https://github.com/cran/BMIselect
[submodule "PSPI"]
	path = PSPI
	url = https://github.com/zjg540066169/pspi
[submodule "SBMTrees"]
	path = SBMTrees
	url = https://github.com/zjg540066169/sbmtrees
